*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-image: url(../img/7ab13eb1fe5a7c689ddcdbfebe7b0b7a.jpg);
    background-repeat: no-repeat;
    background-size: 100vw
}
header{
    box-shadow: 0px 3px 15px rgb(150,50,150);
    background-color: rgb(40,0,70);
    padding: 10px;
    align-items: center;
    position: fixed;
    width: 100vw;
}
header li{
    transition: 0.3s;
}
header li:hover{
    font-size: 125%;
}
header ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style:none;
}
header a{
    text-decoration: none;
    color: white;
}
main{
    background-image: linear-gradient(to right,rgba(20, 0, 30, 0.5),rgba(40,0,70,0.5),rgba(20,0,30,0.5));
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    min-height: 100vh;
}
#inicio{
    margin-top: 8vh;
    text-align: center;
}
#linguagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.texto99{
    gap: 1000px;
}
.texto-imagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imagem-linguagens{
    height: 10vw;
    width: auto;
    filter: invert(100%);
}
#contato form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.checkbox{
    display: flex;
    gap: 10px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(40,0,70);
    padding: 10px;
}

